---
http_interactions:
- request:
    method: get
    uri: http://api.meteomatics.com/2025-04-07T00:00:00Z/t_2m:F,t_2m:C/47.4799078,-122.2034496/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cGVyc29uYWx1c2VfY2hhdV9zdGV2ZW46OHhPQjkwNG1YYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"version":"3.0","user":"personaluse_chau_steven","dateGenerated":"2025-04-07T19:12:06Z","status":"OK","data":[{"parameter":"t_2m:F","coordinates":[{"lat":47.479908,"lon":-122.20345,"dates":[{"date":"2025-04-07T00:00:00Z","value":53.2}]}]},{"parameter":"t_2m:C","coordinates":[{"lat":47.479908,"lon":-122.20345,"dates":[{"date":"2025-04-07T00:00:00Z","value":11.8}]}]}]}

        '
  recorded_at: Mon, 07 Apr 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
