---
http_interactions:
- request:
    method: get
    uri: http://api.meteomatics.com/2025-04-07T00:00:00Z--2025-04-15T00:00:00Z:P1D/t_2m:F,t_2m:C/47.4799078,-122.2034496/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cGVyc29uYWx1c2VfY2hhdV9zdGV2ZW46OHhPQjkwNG1YYQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"version":"3.0","user":"personaluse_chau_steven","dateGenerated":"2025-04-07T22:02:28Z","status":"OK","data":[{"parameter":"t_2m:F","coordinates":[{"lat":47.479908,"lon":-122.20345,"dates":[{"date":"2025-04-07T00:00:00Z","value":53.2},{"date":"2025-04-08T00:00:00Z","value":52.1},{"date":"2025-04-09T00:00:00Z","value":52.8},{"date":"2025-04-10T00:00:00Z","value":59.5},{"date":"2025-04-11T00:00:00Z","value":59.7},{"date":"2025-04-12T00:00:00Z","value":51.1},{"date":"2025-04-13T00:00:00Z","value":47.1},{"date":"2025-04-14T00:00:00Z","value":56.2},{"date":"2025-04-15T00:00:00Z","value":68.3}]}]},{"parameter":"t_2m:C","coordinates":[{"lat":47.479908,"lon":-122.20345,"dates":[{"date":"2025-04-07T00:00:00Z","value":11.8},{"date":"2025-04-08T00:00:00Z","value":11.2},{"date":"2025-04-09T00:00:00Z","value":11.5},{"date":"2025-04-10T00:00:00Z","value":15.3},{"date":"2025-04-11T00:00:00Z","value":15.4},{"date":"2025-04-12T00:00:00Z","value":10.6},{"date":"2025-04-13T00:00:00Z","value":8.4},{"date":"2025-04-14T00:00:00Z","value":13.5},{"date":"2025-04-15T00:00:00Z","value":20.2}]}]}]}

        '
  recorded_at: Mon, 07 Apr 2025 00:00:00 GMT
recorded_with: VCR 6.3.1
