---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:autocomplete?key=<GOOGLE_MAPS_API_KEY>
    body:
      encoding: UTF-8
      string: '{"includedRegionCodes":["us"],"input":"123"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "suggestions": [
            {
              "placePrediction": {
                "place": "places/ChIJYaRu1ulckFQR9dAezwHYjvk",
                "placeId": "ChIJYaRu1ulckFQR9dAezwHYjvk",
                "text": {
                  "text": "1233 Andover Park East, Tukwila, WA, USA",
                  "matches": [
                    {
                      "endOffset": 3
                    }
                  ]
                },
                "structuredFormat": {
                  "mainText": {
                    "text": "1233 Andover Park East",
                    "matches": [
                      {
                        "endOffset": 3
                      }
                    ]
                  },
                  "secondaryText": {
                    "text": "Tukwila, WA, USA"
                  }
                },
                "types": [
                  "premise",
                  "geocode"
                ]
              }
            },
            {
              "placePrediction": {
                "place": "places/ChIJB9-onvRskFQRcarWAaltd6c",
                "placeId": "ChIJB9-onvRskFQRcarWAaltd6c",
                "text": {
                  "text": "1231 116th Avenue Northeast, Bellevue, WA, USA",
                  "matches": [
                    {
                      "endOffset": 3
                    }
       [...]
