---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OPEN_WEATHER_MAP_API>&exclude=minutely,hourly&lat=47.479908&lon=-122.20345&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.4799,"lon":-122.2035,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1744138136,"sunrise":1744119166,"sunset":1744166874,"temp":48.83,"feels_like":43.66,"pressure":1013,"humidity":94,"dew_point":47.17,"uvi":0.75,"clouds":100,"visibility":10000,"wind_speed":13,"wind_deg":180,"wind_gust":21.99,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.28}},"daily":[{"dt":1744142400,"sunrise":1744119166,"sunset":1744166874,"moonrise":1744151820,"moonset":1744114380,"moon_phase":0.37,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":48.58,"min":44.51,"max":49.82,"night":44.85,"eve":48.97,"morn":44.89},"feels_like":{"day":43,"night":39.4,"eve":44.06,"morn":40.21},"pressure":1013,"humidity":92,"dew_point":46.36,"wind_speed":17.02,"wind_deg":183,"wind_gust":33.08,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":100,"pop":1,"rain":10.94,"uvi":2.14},{"dt":1744228800,"sunrise":1744205448,"sunset":1744253359,"moonrise":1744242240,"moonset":1744201680,"moon_phase":0.4,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":57.51,"min":39.78,"max":59.29,"night":50.68,"eve":56.08,"morn":39.9},"feels_like":{"day":54.99,"night":48.33,"eve":53.74,"morn":39.9},"pressure":1024,"humidity":43,"dew_point":35.67,"wind_speed":10.76,"wind_deg":190,"wind_gust":22.93,"weather":[{"id":804,"main":"Clouds","d[...]
