---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/3.0/onecall?appid=<OPEN_WEATHER_MAP_API>&exclude=minutely,hourly&lat=47.479908&lon=-122.20345&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":47.4799,"lon":-122.2035,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1744134240,"sunrise":1744119166,"sunset":1744166874,"temp":47.26,"feels_like":43.93,"pressure":1012,"humidity":94,"dew_point":45.63,"uvi":0.35,"clouds":100,"visibility":8047,"wind_speed":6.91,"wind_deg":110,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"rain":{"1h":1}},"daily":[{"dt":1744142400,"sunrise":1744119166,"sunset":1744166874,"moonrise":1744151820,"moonset":1744114380,"moon_phase":0.37,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":47.19,"min":43.14,"max":50.47,"night":43.14,"eve":48.65,"morn":45.36},"feels_like":{"day":41.79,"night":37.2,"eve":43.52,"morn":40.78},"pressure":1013,"humidity":92,"dew_point":45,"wind_speed":15.64,"wind_deg":181,"wind_gust":32.23,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"clouds":100,"pop":1,"rain":13.49,"uvi":2.14},{"dt":1744228800,"sunrise":1744205448,"sunset":1744253359,"moonrise":1744242240,"moonset":1744201680,"moon_phase":0.4,"summary":"There
        will be partly cloudy today","temp":{"day":57.54,"min":40.1,"max":59.68,"night":50.49,"eve":56.1,"morn":40.21},"feels_like":{"day":55.02,"night":48.11,"eve":53.76,"morn":40.21},"pressure":1024,"humidity":43,"dew_point":35.73,"wind_speed":10.11,"wind_deg":188,"wind_gust":24.92,"weather":[{"id":804,"main":"Clouds","description":"o[...]
